 Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
deta = ("subham",[1,2,3],2.4,(1,2,3))

In [2]:
type(deta)

tuple

Q2. Given are some following variables containing data:

(i) var1 = ''

(ii) var2 = '[ DS , ML , Python]'

(iii) var3 = [ 'DS' , 'ML' , 'Python' ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [3]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [4]:
a = 10
b = 3
print(a/b) # / division operator divide a number if division output in float it returns float
print(a%b) # % Modulus operator divides a number and output the reminder
print(a//b) # // Floor division = Divide number and return integer value
print(a**b) # Exponentiation = return a power b

3.3333333333333335
1
3
1000

#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [5]:
list1 = [1,2,3,4,5,5.6,7.8,"subham","pal","Learning_DS"]
len(list1)

10

In [6]:
for i in list1:
  print(i,"=", type(i))

1 = <class 'int'>
2 = <class 'int'>
3 = <class 'int'>
4 = <class 'int'>
5 = <class 'int'>
5.6 = <class 'float'>
7.8 = <class 'float'>
subham = <class 'str'>
pal = <class 'str'>
Learning_DS = <class 'str'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [7]:
A = 512
B = 2
sum = 0
while A%B==0:
  A = A/B
  sum = sum +1 

print("The number of times it is divisible is",sum)

The number of times it is divisible is 9

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [8]:
list25 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in list25:
  if (i%3 == 0):
    print(i,"Divisible by 3")
  else:
    print(i,"Not Divisible by 3")

1 Not Divisible by 3
2 Not Divisible by 3
3 Divisible by 3
4 Not Divisible by 3
5 Not Divisible by 3
6 Divisible by 3
7 Not Divisible by 3
8 Not Divisible by 3
9 Divisible by 3
10 Not Divisible by 3
11 Not Divisible by 3
12 Divisible by 3
13 Not Divisible by 3
14 Not Divisible by 3
15 Divisible by 3
16 Not Divisible by 3
17 Not Divisible by 3
18 Divisible by 3
19 Not Divisible by 3
20 Not Divisible by 3
21 Divisible by 3
22 Not Divisible by 3
23 Not Divisible by 3
24 Divisible by 3
25 Not Divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans â–¶

Mutable and Immutable are two different properties of data types.
Mutable data types are those that can be modified after they are created,
while immutable data types cannot be modified once they are created.

Mutable = List , Dictionary.

Immutable = String, Tuple

# **Mutable**
List

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
my_list[2] = 10
print(my_list)

[1, 2, 10, 4, 5, 6]

Dictionary

In [10]:
my_dict = {"name": "John", "age": 25}
my_dict["age"] = 26
my_dict["gender"] = "male"
print(my_dict)

{'name': 'John', 'age': 26, 'gender': 'male'}

# **Immutable**
Stings

In [13]:
my_str = "Hello, world!"
#my_str[0] = "h" #it will output a error

tuple

In [15]:
my_tuple = (1, 2, 3, 4, 5)
#my_tuple[2] = 10 #it will output a error

---
# ***THE END***
---