#Q1. How do you comment code in Python? What are the different types of comments?


---


#Ans :

in python we write code by using **" #code "**  and **''' code '''**

comments are mainly 2 types =

1.   Single Line Comment
2.   Multi Line Comment

In [ ]:
#Single Line Comment

'''
Multi
Line
Commeent
'''

'\nMulti\nLine\nCommeent\n'

#Q2. What are variables in Python? How do you declare and assign values to variables?


---


#Ans:  

In Python, variables are used to store and manipulate data. A variable is essentially a name that refers to a value or an object.

Example :


1.      x = 5
2.      x = "Strings"

x is a variable

In [ ]:
x = 5
x = "subham"
x

'subham'

#Q3. How do you convert one data type to another in Python?


---



**Ans:**

There are mainly two ways to convert one datatype to another datatype


1.   **Implicit Conversion**


> >> Here Python convert datatype by itself.
> >>>> For example : Adding one Integer and One Floating Number will return a Floating point number




2.   **Explicit Conversion**
> >> This is nothing but typecasting method
> >>>>int(),float(),str(),bool() = with this function we can convert



Another ways are also there

Using Conversion Functions: convert iterative objects

list(): Converts to a list.


tuple(): Converts to a tuple.


set(): Converts  to a set.


dict(): Converts  to a dictionary.

    str_list = list("hello")  
    # Converts string to list ['h', 'e', 'l', 'l', 'o']
    
    num_tuple = tuple([1, 2, 3])  
    # Converts list to tuple (1, 2, 3)

    set_nums = set([1, 2, 2, 3])  
    # Converts list to set {1, 2, 3}

    dict_pairs = dict([('a', 1), ('b', 2)])  
    # Converts list of key-value pairs to dictionary {'a': 1, 'b': 2}

#Q4. How do you write and execute a Python script from the command line?


---

**Ans:**

step 1. Create a file with **.py** extension in a text editor
    
    test.py

step 2. write a code in that file
    
    print("Hello, World!")

step 3. Save that file

Step 4. Open Command Prompt on Windows, Terminal on macOS, or a Linux shell.

step 5. Run that file

    python test.py

It will give a output

    Hello, World!

#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [ ]:
my_list = [1,2,3,4,5]
sublist = my_list[1:3]
sublist

[2, 3]

#Q6. What is a complex number in mathematics, and how is it represented in Python?
************
Ans :

In mathematics, a complex number is a number of the form a + bi, where a and b are real numbers and i is the imaginary unit, defined as the square root of -1. The real part a represents the real value of the complex number, while the imaginary part b represents the multiple of i.

in Python the representation of complex number is

      a+bj
      the 'a' is real part and 'bj' part is imaginary

In [ ]:
complex_num =  7 + 8j
print(complex_num.real)   # output for this line = 7.0
print(complex_num.imag)   # output for this line = 8.0

7.0
8.0

#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?


---

Ans:
  as the value of **Age** is 25. it is a integer data type.

In [ ]:
Age = 25 # Age is variable , 25 is its value and the datatype is Int

#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?
************
**Ans:**
variable name = price
Variable Value = 9.99
So, the the Variable belongs to **"Float"** datatype

In [ ]:
price = 9.99
type(price)

float

#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?
*************
 name = "SUBHAM PAL"

 to print the value of this variable
 I would code

In [ ]:
name = "SUBHAM PAL"
print(name)             #Output = SUBHAM PAL

SUBHAM PAL

#Q10. Given the string "Hello, World!", extract the substring "World".
****
Ans:

In [ ]:
string = "Hello, World!"
substring= string[7:12]
substring

'World'

#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.
-------------------------------

In [ ]:
is_student = True  # I am an student so, its True
is_student

True

*************************
#**THE END**
*************************